:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #fff;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #b6b9f3;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 90vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.large-button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  /* max-width: 70%; */
  -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  background-color: #2d2d2e;
  box-sizing: border-box;
}
.list{
  border-radius: 15px;

}
.mode{
  background-color: #353434;
}
.disable {
  background-color: #585757;
  cursor: not-allowed;
}
.enable {
  background-color: #3b5df5;
}
.w-100{
  width: 100%;
}
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: end;
}
.row{
  flex-direction: row;
}
.col{
  flex-direction: column;
}
.item-center{
  align-items: center;
}
.item-end{
  align-items: end;
}

.wrap{
  flex-wrap: wrap;
}
.no-wrap{
  flex-wrap: nowrap;
}
.text-center{
  text-align: center;
}
.ma-md{
  margin: 0.5em;
}
.ma-sm{
  margin: 0.2em;
}
.ma-lg{
  margin: 1em;
}
.mt-md{
  margin-top: 0.5em;
}
.mt-xl{
  margin-top: 1em;
}
.ml-md{
  margin-left: 0.5em;
}
.mb-md{
  margin-bottom: 0.5em;
}
.mx-sm{
  margin-right:  0.2em;
  margin-left: 0.2em;
}
.mx-md{
  margin-right:  0.5em;
  margin-left: 0.5em;
}
.mx-xl{
  margin-right:  1em;
  margin-left: 1em;
}
.hover:hover{
  background-color: #515153;
}
.devider{
  width: 90%;
  height: 1px;
  border-bottom: 2px solid #1d1d1d;

  margin-top: 1rem;
  margin-bottom: 1rem;
}
input{
  margin-bottom: 1em;
}
.title{
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  text-align: center;

}
#app {
  width: 100%;
  height: auto;
  
 
 
}
.big-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #8d8b8b65;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .hover:hover{
    background-color: #c2c2c2;
  }
  .mode{
    background-color: #f9f9f9;
  }
  button {
    background-color: #f9f9f9;
    
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);

  }
  .large-button{
    background-color: #f9f9f9;
    
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
  }
  .card{
    background-color: #f9f9f9;
  }
  .list{
    background-color: #ffffff;
  
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
  }
  .enable{
    background-color: #f9f9f9;
  }
  .disable{
    background-color: #5a5a5c;
  }

} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Add your CSS here */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Add your CSS here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Add your CSS here */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Add your CSS here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Add your CSS here */
}
