:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  max-width: 70%;
  
  -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
border-radius: 8px;
background-color: #2d2d2e;
}
.list{
  background-color: #2d2d2e;
  border-radius: 15px;
}
.disable {
  background-color: #585757;
  cursor: not-allowed;
}
.enable {
  background-color: #1a1a1a;
}

.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.row{
  flex-direction: row;
}
.col{
  flex-direction: column;
}
.item-center{
  align-items: center;
}
.item-end{
  align-items: end;
}

.wrap{
  flex-wrap: wrap;
}
.no-wrap{
  flex-wrap: nowrap;
}
.text-center{
  text-align: center;
}
.ma-md{
  margin: 0.5em;
}
.ma-sm{
  margin: 0.2em;
}
.ma-lg{
  margin: 1em;
}
.mt-md{
  margin-top: 0.5em;
}
.mt-xl{
  margin-top: 1em;
}
.ml-md{
  margin-left: 0.5em;
}
.mb-md{
  margin-bottom: 0.5em;
}
.hover:hover{
  background-color: #515153;
}
.devider{
  width: 90%;
  height: 1px;
  border-bottom: 2px solid #1d1d1d;

  margin-top: 1rem;
  margin-bottom: 1rem;
}
input{
  margin-bottom: 1em;
}
#app {
  width: 100%;
  height: auto;
  
 
 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .hover:hover{
    background-color: #c2c2c2;
  }
  button {
    background-color: #f9f9f9;
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);

  }
  .card{
    background-color: #f9f9f9;
  }
  .list{
    background-color: #f9f9f9;
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
    box-shadow: 1px 4px 8px 0px rgba(34, 50, 50, 0.1);
  }
  .enable{
    background-color: #f9f9f9;
  }
  .disable{
    background-color: #5a5a5c;
  }

}
